.NavBar {
  margin-top: 1vmin;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.PageContent {
  display: flex;
  flex-direction: column;
  margin: 5vmin 15vmin;
  align-content: start;
  justify-content: center;
}

.ContentHeader {
  font-size: 8vmin;
  color: mediumspringgreen;
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 5vmin;
  margin-left: auto;
  margin-right: auto;
}

.ContentSubHeader {
  font-size: 4vmin;
  color: mediumspringgreen;
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 5vmin;
  margin-left: auto;
  margin-right: auto;
}

.ContentParagraph {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ParagraphText {
  margin: 0;
  font-size: 3vmin;
  font-family: "Gill Sans", sans-serif;
  color: black;
  line-height: 5vmin;
  flex: 1 1 60vmin;
  min-width: 50vmin;
}

.ParagraphVisual {
  width: 40vmin;
  height: 45vmin;
  padding: 2vmin;
  margin-left: auto;
  margin-bottom: 2vmin;
}

.PageButton {
  display: flex;
  font-size: calc(10px + 2vmin);
  font-family: "Gill Sans MT", sans-serif;
  gap: 20px;
  color: mediumspringgreen;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  float: right;

  a:visited {
    color: mediumspringgreen;
    text-decoration: none;
  }

  a:link {
    color: mediumspringgreen;
    text-decoration: none;
  }
}

.SearchBar input[type=text]{
  display: flex;
  margin-bottom:5vmin;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  background-color: white;
  width: 50vw;
  font-size: 3vmin;
  border-radius: 20px;
  border-color: mediumspringgreen;
}

.App-logo {
  padding: 5px;
  pointer-events: none;
  font-size: 5vmin;
  font-family: "Gill Sans MT", sans-serif;
  color: mediumspringgreen;
  margin-left: 1vw;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #090a12;
}
