@font-face {
  font-family: Quasimoda;
  src:url("resources/fonts/Quasimoda Bold.otf") format("opentype");
}

@font-face {
  font-family: Articulat;
  src:url("resources/fonts/ArticulatCF-Medium.ttf") format("truetype");
}

:root {
  --SwampGreen: #4C704F;
  --GatorGreen: #95F09B;
  --Mint: #DBF0E3;
}

.NavBar {
  margin-top: 1vmin;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.PageContent {
  display: flex;
  flex-direction: column;
  margin: 5vmin 15vmin;
  align-content: start;
  justify-content: center;
}

.ContentHeader {
  font-size: 8vmin;
  color: var(--GatorGreen);
  font-family: "Quasimoda", sans-serif;
  margin-bottom: 5vmin;
  margin-left: auto;
  margin-right: auto;
}

.NavBar {
  margin-top: 1vmin;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.PageContent {
  display: flex;
  flex-direction: column;
  margin: 5vmin 15vmin;
  align-content: start;
  justify-content: center;
}

.ContentHeader {
  font-size: 8vmin;
  color: var(--GatorGreen);
  font-family: "Quasimoda", sans-serif;
  margin-bottom: 5vmin;
  margin-left: auto;
  margin-right: auto;
}

.ContentSubHeader {
  font-size: 4vmin;
  color: var(--GatorGreen);
  font-family: "Quasimoda", sans-serif;
  margin-bottom: 5vmin;
  margin-left: auto;
  margin-right: auto;
}

.ContentParagraph {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ParagraphText {
  margin: 0;
  font-size: 3vmin;
  font-family: "Articulat", sans-serif;
  color: black;
  line-height: 5vmin;
  flex: 1 1 60vmin;
  min-width: 50vmin;
}

.ParagraphVisual {
  width: 40vmin;
  height: 45vmin;
  padding: 2vmin;
  margin-left: auto;
  margin-bottom: 2vmin;
}

.PageButton {
  display: flex;
  font-size: calc(10px + 2vmin);
  font-family: "Quasimoda", sans-serif;
  gap: 20px;
  color: var(--GatorGreen);
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  float: right;

  a:visited {
    color: var(--GatorGreen);
    text-decoration: none;
  }

  a:link {
    color: var(--GatorGreen);
    text-decoration: none;
  }
}

.SearchBar input[type=text]{
  display: flex;
  margin-bottom: 5vmin;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  background-color: white;
  width: 50vw;
  font-size: 3vmin;
  border-radius: 20px;
  border-color: var(--GatorGreen);
}

.App-logo img {
  margin-left: 1vmin;
  max-height: 50vmin;
  max-width: 50vmin;

  .App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: #090a12;
  }
}
.UserListings {
  align-items: center;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 80vmax;
  height: 10vmax;
  border: 3px solid var(--SwampGreen);
  background-color: white;
  margin-bottom: 1vmin;
}

.CardText {
  font-family: "Quasimoda", sans-serif;
  color: black;
  margin-left: 5vmin;
}

.CardPrice {
  font-family: "Quasimoda", sans-serif;
  color: black;
  justify-items: right;
}

.CardLink {
  font-family: "Quasimoda", sans-serif;
  color: black;
  cursor: pointer;
  margin-left: 30vmin;
  margin-top: 2vmin;

  a:visited {
    color: black;
    text-decoration: none;
  }

  a:link {
    color: black;
    text-decoration: none;
  }
}