.App {
  text-align: center;
}

.PageButton {
  font-size: 18px;
  padding: 10px;
  color: mediumspringgreen;
  background: whitesmoke;
  font-family: "Gill Sans MT", sans-serif;
  cursor: pointer;


  &:hover {
    background: #bbfaef;
  }
}

.App-logo {
  position: absolute;
  display: block;
  text-align: left;
  pointer-events: none;
  font-size: calc(10px + 2vmin);
  font-family: "Gill Sans MT", sans-serif;
  color: mediumspringgreen;
  margin-left: 1vw;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #090a12;
}
