@font-face {
    font-family: Quasimoda;
    src:url("resources/fonts/Quasimoda Bold.otf") format("opentype");
}

@font-face {
    font-family: Articulat;
    src:url("resources/fonts/ArticulatCF-Medium.ttf") format("truetype");
}

:root {
    --SwampGreen: #4C704F;
    --GatorGreen: #95F09B;
    --Mint: #DBF0E3;
}

input[type="file"] {
    display: none;
}

.custom-upload {
    cursor: pointer;
}

.custom-upload img {
    border-radius: 50%;
    width: 25vmin;
    height: 25vmin;
    object-fit: cover;
    margin: 5vmin 5vmin 0 5vmin
}

.ProfileCard {
    display: flex;
    background-color: white;
    border-radius: 80px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-wrap: wrap;
    padding-bottom: 5vmin;
}

.ProfileCardsSection {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
    background: transparent; /* remove solid background */
    border-radius: 20px;
}

.BioField textarea {
    padding: 6px;
    background-color: #edffee;
    width: 30vw;
    font-size: 3vmin;
    font-family: "Articulat", sans-serif;
    border-radius: 10px;
    margin: 1vmin;
    height: 3vmin;
    border: none;
}